.app-row
  background-color  #d32f2f

.channel-container
  background-color  white

.item-name
  font-size 1rem
  line-height 1.25rem

.sticky-toolbar
  position -webkit-sticky
  position sticky
  top 48px
  z-index 10
  background-color: white
